<!-- Footer -->
<footer class="page-footer font-medium" id="contacts">

  <div style="
  display: grid;
  place-items: center;
  align-content: center;">
    <!-- contact details -->
      <div> <h4>Contact Phone Number:</h4>
        <ul>
          <li>0722 746 122</li>
          <li>0733 746 122</li>
        </ul>
      </div>
    <!-- contact details -->
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">© 2023 Copyright:
        <a href="/"> Spring Caterers</a>
      </div>
      <!-- Copyright -->
  </div>
  
  </footer>
  <!-- Footer -->