<div class="container-fluid about" id="about">
    <div class="row text-center">
        <div class="col-lg-12 col-md-12 col-sm-12 about-section" style="display: flex;justify-content: space-between; height: inherit;" >
            <div class="col-lg-6 col-md-6 col-sm-6 d-flex " style=" height: inherit; position: relative; position: relative; align-items: center;">
                <div class="about-section-p" style="display: flex; flex-direction: column; position: relative; height: inherit;">
                    <div style="text-decoration: underline;">
                        <h2>
                        
                        </h2>
                    </div>
                    <div style=" position: relative; top: 1%;" class="our_story">
                        <p>
                            Welcome to Sifa Caterers, <br> where culinary excellence meets impeccable service, making your events unforgettable experiences! With an extensive array of offerings, Sifa Caterers guarantees a seamless, stress-free, and delightful experience for all our potential customers. At Sifa Caterers, we believe that every event is unique, deserving of a personalized touch.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 spring_img hidden" style="height: fit-content;position: relative; padding: 1%; display: flex; flex-direction: column;">
              <img style="margin: 1%;" class="springimg" src="../../assets/chuttersnap-irfc5UukUn4-unsplash.jpg"  alt="">
              <img style="margin: 1%" class="springimg" src="../../assets/tim-meyer-GZzQAQyxACw-unsplash.jpg"  alt="">
            </div>
        </div>
    </div>
</div>