<div class="container-fluid about" id="about">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display: flex;justify-content: space-between;" >
            <div class="col-lg-6 col-md-6 col-sm-6" style=" height: 100%; position: relative; top: 20px;">
                <div style="display: flex; flex-direction: column; position: relative;">
                    <div class="text-center" style="text-decoration: underline;">
                        <h1>
                            Our Story
                        </h1>
                    </div>
                    <div style=" position: relative; top: 25%;" class="text-center our_story">
                        <p>
                            Welcome to Spring Caterers, <br> where culinary excellence meets impeccable service, making your events unforgettable experiences! With an extensive array of offerings, Spring Caterers guarantees a seamless, stress-free, and delightful experience for all our potential customers. At Spring Caterers, we believe that every event is unique, deserving of a personalized touch.
                            <br> <br>
                            For your convenience and to elevate the dining experience, we offer both buffet and sit-down service options. Our skilled servers, dressed in elegant attire, serve your guests with warmth and professionalism, creating an ambiance of refinement and hospitality. Spring Caterers takes pride in presenting each dish with artistic flair, turning every plate into a canvas of culinary artistry. No event is complete without delightful beverages, and our extensive drink selection promises to impress.
                        </p>
                        <!-- <img class="our_story_img" height="100px" style="mix-blend-mode: multiply;" src="../../assets/395-3959553_transparent-background-wine-glasses.png" alt=""> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 spring_img" style="height: fit-content;position: relative; top: 20px; display: flex; flex-direction: column; gap: 20px;">
              <img class="springimg" src="../../assets/chuttersnap-irfc5UukUn4-unsplash.jpg"  alt="">
              <img class="springimg" src="../../assets/tim-meyer-GZzQAQyxACw-unsplash.jpg"  alt="">
            </div>
        </div>
    </div>
</div>