.app-hero{
    /* width: auto; */
    background-image: url("src\assets\eddy-ymeri-A3I2jmRGxk0-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    height: 100vh;
}

.row{
    position: relative;
    align-items: center;
    height:inherit;
}

h1{    
    font-size: 100px;
    letter-spacing: 2px;
    text-decoration: underline;
}

/* sm */
@media (max-width: 640px) {
    .container {
      max-width: 475px;
    }
  }
  
  /* xs */
@media (max-width: 475px) {
    .container {
      width: 100%;
    }
    .app-hero{
      height: 50vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .app-hero h1{
        font-size: 40px;
        background-color: white;
        padding: 4px;
    }
  }