.app-hero{
    width: auto;
    background-image: url("src\assets\eddy-ymeri-A3I2jmRGxk0-unsplash.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* position: relative; */
    align-items: center;
    /* border: 1px solid green; */
    /* margin-top: -100px; */
}

.row{
    position: relative;
    align-items: center;
    height:inherit;
}

h1{    
    font-size: 100px;
    /* font-weight: bold; */
    letter-spacing: 2px;
    text-decoration: underline;
}