.app-hero{
    width: 100%;
    height: 700px;
    background-image: url("../../assets/pexels-matheus-bertelli-17023041.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    position: relative;
    align-items: center;
    /* border: 1px solid green; */
    margin-top: -100px;
}

.row{
    position: relative;
    align-items: center;
    height:inherit;
}

h1{    
    font-size: 100px;
    /* font-weight: bold; */
    letter-spacing: 2px;
    text-decoration: underline;
}