<nav class="navbar navbar-expand-lg" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: white;"><span>Spring</span> <br> Caterers </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="display: flex; justify-content: flex-end;">
        <div class="navbar-nav"  style="display: flex; justify-content:space-around;width: 50%;">
          <a class="nav-link active" aria-current="page" href="#about" style="color: white;">About</a>
          <a class="nav-link active" href="#services" style="color: white;">Services</a>
          <a class="nav-link active" href="#testimonials" style="color: white;">Testimonials</a>
          <a class="nav-link active" href="#footer" tabindex="-1" aria-disabled="false">Contacts</a>
        </div>
      </div>
    </div>
</nav>
<router-outlet></router-outlet>