<div class="container-fluid services" id="services">
    <div class="row" style="height: 100%;">
        <div class="col-lg-12 col-md-12 col-sm-12  service-section" style="display: flex;justify-content: space-between;" >
            <div class="col-lg-6 col-md-6 col-sm-6 hiddenp" style="height: 100%; display: flex; flex-direction: column; padding: 1%;">
              <img style="margin: 1%;" class="springimg" src="../../assets/spring caterers11.jpg"  alt="">
              <img style="margin: 1%;" class="springimg" src="../../assets/spring caterers2.jpg"  alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 service-section-p" style=" height: 100%;">
                <div style="display: flex; flex-direction: column; position: relative; padding: 5px;position: relative; top: 25%;">
                    <div class="text-center" style="text-decoration: underline;">
                        <h2>
                            Our Services
                        </h2>
                    </div>
                    <div class="text-center our_services">
                        <ul>
                            <li>Weddings</li>
                            <li>Graduation Parties</li>
                            <li>Ruracios/Koitos</li>
                            <li>Birthdays</li>
                            <li>Buffet or Sit-Down service</li>
                            <li>Cooperate Events</li>
                            <li>Festivals</li>
                        </ul>
                        <!-- <img class="our_story_img" height="" src="../../assets/wineglass1.jpeg" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>