.services{
    height: fit-content;
}

.springimg{
    width: 100%;
    height: 50%;
}

p{
    font-family: "Kaushan_Script";
    font-size: large;
}

/* .our_story_img{
    height:"50px";
    mix-blend-mode:exclusion;
} */

ul li{
    list-style: none;
    font-size: 30px;
}