<div class="container-fluid services" id="services" style="border: dotted green 3px;">
    <div class="row" style="height: 100%;">
        <div class="col-lg-12 col-md-12 col-sm-12" style="display: flex;justify-content: space-between;border: solid yellow 4px; padding:20px;" >
            <div class="col-lg-6 col-md-6 col-sm-6" style="height: 100%; display: flex; flex-direction: column; gap: 20px; border: solid brown 2px;">
              <img class="springimg" src="../../assets/spring caterers11.jpg"  alt="">
              <img class="springimg" src="../../assets/spring caterers2.jpg"  alt="">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style=" height: 100%;  padding-top:20px; border: solid black 1px;">
                <div style="display: flex; flex-direction: column; position: relative; padding: 5px;position: relative; top: 35%; border: solid red 1px;">
                    <div class="text-center" style="text-decoration: underline;">
                        <h1>
                            Our Services
                        </h1>
                    </div>
                    <div style=" padding: 5px;" class="text-center our_services">
                        <ul>
                            <li>Weddings</li>
                            <li>Graduation Parties</li>
                            <li>Ruracios/Koitos</li>
                            <li>Birthdays</li>
                            <li>Buffet or Sit-Down service</li>
                            <!-- <li></li>
                            <li></li> -->
                        </ul>
                        <!-- <img class="our_story_img" height="" src="../../assets/wineglass1.jpeg" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>