<div class="container"  id="contacts">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 rallycall text-center">
            <h3>Looking For a tested Catering Company?<br>
            Give us a call</h3>
                <!-- contact details -->
        <div> <h4>Contact Phone Number:</h4>
            <ul>
            <li>0722 746 122</li>
            <li>0733 746 122</li>
            </ul>
        </div>
        <!-- contact details -->
            
        </div>
    </div>
</div>