@font-face {
    font-family: 'AlexBrushRegular';
    src: url('src\assets\fonts\Alex_Brush\AlexBrushRegular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Great_vibes';
    src: url('src\assets\fonts\Great_Vibes\GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inspiration';
    src: url('src\assets\fonts\Inspiration\Inspiration-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaushan_Script';
    src: url('src\assets\fonts\Kaushan_Script\KaushanScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Parisienne';
    src: url('src\assets\fonts\Parisienne\Parisienne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sacramento';
    src: url('src\assets\fonts\Sacramento\Sacramento-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tangerine';
    src: url('src\assets\fonts\Tangerine\Tangerine-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mynerve';
    src: url('src\assets\fonts\Mynerve\Mynerve-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
font-family: 'AlexBrushRegular';
}    

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50%);
    transition: all 2s;
}

.hiddenp{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 2s;
}

.hiddeny{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

body{
    background-color: #131316;
    color: white;
}
