@font-face {
    font-family: 'AlexBrushRegular';
    src: url('src\assets\fonts\Alex_Brush\AlexBrushRegular.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Great_vibes';
    src: url('src\assets\fonts\Great_Vibes\GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inspiration';
    src: url('src\assets\fonts\Inspiration\Inspiration-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kaushan_Script';
    src: url('src\assets\fonts\Kaushan_Script\KaushanScript-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Parisienne';
    src: url('src\assets\fonts\Parisienne\Parisienne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Sacramento';
    src: url('src\assets\fonts\Sacramento\Sacramento-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Tangerine';
    src: url('src\assets\fonts\Tangerine\Tangerine-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mynerve';
    src: url('src\assets\fonts\Mynerve\Mynerve-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    font-family: 'AlexBrushRegular';
    box-sizing: border-box;
}    

.hidden{
    opacity: 0;
    transform: translateX(25%);
    transition: all 1s;
}

.hiddenp{
    opacity: 0;
    transform: translateX(-25%);
    transition: all 1s;
}

.hiddeny{
    opacity: 0;
    transform: translateY(25%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

body{
    background-color: #131316;
    color: white;
}

ul li{
    list-style: none;
}

/* The desktop-first pre-defined media queries: */
/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {}

/* lg */
@media (max-width: 1024px) {}

/* md */
@media (max-width: 768px) {}

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}

/* Mobile container utility class: */
.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

/* Desktop container utility class: */
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* xs */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
  .app-hero{
    height: 50vh;
  }

  .about-section, .service-section{
    display: flex; 
    flex-direction: column;
    height: fit-content;
  }

  .service-section{
    flex-direction: column-reverse;
  }

  .hidden{
    opacity: 0;
    transform: translateY(25%);
    transition: all 1s;
}

  .hiddenp{
      opacity: 0;
      transform: translateY(-25%);
      transition: all 1s;
  }

  .show{
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
  }

}
